<div *ngIf="!(organization$ | async); else loaded">Loading</div>
<ng-template #loaded>
  <header>
    <h1>{{ (organization$ | async)! | orgTitle }}</h1>
    <button
      *ngIf="(userCanEdit$ | async) && !editMode"
      mat-mini-fab
      color="primary"
      aria-label="Edit Organization"
      (click)="editMode = true"
    >
      <mat-icon>edit</mat-icon>
    </button>
    <button
      *ngIf="(userCanEdit$ | async) && editMode"
      mat-mini-fab
      color="accent"
      aria-label="Save Edits"
      (click)="editMode = false"
    >
      <mat-icon>save</mat-icon>
    </button>
    <button
      *ngIf="(userCanEdit$ | async) && editMode"
      mat-mini-fab
      color="warn"
      aria-label="Cancel Edits"
      (click)="editMode = false"
    >
      <mat-icon>cancel</mat-icon>
    </button>
  </header>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Key Personnel</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table
        class="personnel"
        *ngIf="(organization$ | async)?.personnel; else noPersonnel"
      >
        <tr *ngFor="let person of (organization$ | async)?.personnel">
          <td>{{ person.title }}:</td>
          <td>
            {{ person.name }}
            <span class="callsign">{{ person.callsign }}</span>
          </td>
        </tr>
      </table>
      <ng-template #noPersonnel>
        <p>No personnel on file.</p>
      </ng-template>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>
        ICS 217A Communications Resource Availability Worksheets
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <ul *ngIf="(ics217s$ | async)?.length ?? 0 > 0; else no217s">
        <li *ngFor="let ics217 of ics217s$ | async">
          <a [routerLink]="'/ics217/' + ics217.id">{{ ics217.band }}</a>
        </li>
      </ul>
      <ng-template #no217s>
        <p>No ICS 217s on file.</p>
      </ng-template>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Tactical Callsigns</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table
        class="personnel"
        *ngIf="(organization$ | async)?.tacticalCallsigns; else noTacticals"
      >
        <tr *ngFor="let tac of (organization$ | async)?.tacticalCallsigns">
          <td>{{ tac.title }}:</td>
          <td>
            <span class="callsign">{{ tac.callsign }}</span>
          </td>
        </tr>
      </table>
      <ng-template #noTacticals>
        <p>No tactical callsigns on file.</p>
      </ng-template>
    </mat-card-content>
  </mat-card>
</ng-template>
