@if (pageData$ | async; as data) {
  <header>
    <h1>{{ data.org! | orgTitle }}</h1>
    @if (data.userCanEdit && !editMode) {
      <button
        mat-mini-fab
        color="primary"
        aria-label="Edit Organization"
        (click)="editMode = true"
      >
        <mat-icon>edit</mat-icon>
      </button>
    } @else if (data.userCanEdit && editMode) {
      <button
        mat-mini-fab
        color="accent"
        title="Save Edits"
        aria-label="Save Edits"
        (click)="save(); editMode = false"
      >
        <mat-icon>save</mat-icon>
      </button>
      <button
        mat-mini-fab
        color="warn"
        title="Cancel Edits"
        aria-label="Cancel Edits"
        (click)="editMode = false"
      >
        <mat-icon>cancel</mat-icon>
      </button>
    }
  </header>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Key Personnel</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      @if (!editMode) {
        <app-personnel-view [personnel]="data.org.personnel" />
      } @else {
        <app-personnel-edit [personnel]="data.org.personnel" />
      }
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>
        ICS 217A Communications Resource Availability Worksheets
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      @if (data.ics217s?.length ?? 0 > 0) {
        <ul>
          @for (ics217 of data.ics217s; track ics217) {
            <li>
              <a [routerLink]="'/ics217/' + ics217.id">{{ ics217.band }}</a>
            </li>
          }
        </ul>
      } @else {
        <p>No ICS 217s on file.</p>
      }
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Winlink Tactical Callsigns</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      @if (!editMode) {
        <app-tactical-view [tacticalCallsigns]="data.org.tacticalCallsigns" />
      } @else {
        <app-tactical-edit [tacticalCallsigns]="data.org.tacticalCallsigns" />
      }
    </mat-card-content>
  </mat-card>
}
