$avatar-size: 40px;

:host {
  height: 48px;
  width: 48px;
}

div.avatar {
  height: 48px;
  width: 48px;
}

button.avatar {
  height: $avatar-size;
  width: $avatar-size;
  padding: 4px;
}

img.avatar {
  border-radius: calc($avatar-size / 2);
  height: $avatar-size;
  width: $avatar-size;
}
