<div *ngIf="loggedIn$ | async; else loggedOut">
  <img
    alt="Avatar photo"
    [ngSrc]="(photoURL$ | async)?.toString()!"
    width="40"
    height="40"
    [matMenuTriggerFor]="menu"
  />
  <mat-menu #menu>
    <button mat-menu-item (click)="logout()">Logout</button>
  </mat-menu>
</div>
<ng-template #loggedOut>
  <div>
    <img
      alt="Blank avatar photo"
      [ngSrc]="blankPhotoUrl"
      width="40"
      height="40"
      [matMenuTriggerFor]="menu"
    />
    <mat-menu #menu>
      <a mat-menu-item routerLink="/login">Login</a>
    </mat-menu>
  </div>
</ng-template>
