.printForm {
  font-family: 'Arial', sans-serif;
  font-size: 12pt;
  margin: 0 auto;
  max-width: 1020px;
}

.printForm table {
  width: 100%;
  border: 2px solid black;
  border-collapse: collapse;
  background-color: white;
}

.printForm td {
  border: 1px solid black;
}

.printForm th {
  border: 1px solid black;
  font-weight: normal;
}

.printForm h1 {
  font-size: 16pt;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0;
}

.printForm .smallHeading {
  font-size: 8pt;
}

.printForm .pageColumn {
  width: 15px;
}

.printForm .configColumn {
  width: 100px;
}

.printForm .nameColumn {
  width: 140px;
}

.printForm .usersColumn {
  width: 80px;
}

.printForm .freqColumn {
  width: 85px;
  border-right: none;
}

.printForm .widthColumn {
  width: 30px;
  border-left: none;
}

.printForm .toneColumn {
  width: 85px;
}

.printForm .modeColumn {
  width: 55px;
}

@page {
  size: letter landscape;
  margin: 0.25in;
}

@media print {
  .printForm {
    display: block;
    max-width: 100%;
  }
}
