@if (org == undefined) {
  <div>Loading</div>
} @else {
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <a [routerLink]="'/orgs/' + org!.slug">
          {{ org! | orgTitle }}
        </a>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      @for (
        child of org!.children | orderBy: 'region' | orderBy: 'district';
        track child
      ) {
        <div>
          <p>
            <a [routerLink]="'/orgs/' + child!.slug">{{ child! | orgTitle }}</a>
          </p>
        </div>
      }
    </mat-card-content>
  </mat-card>
}

<ng-template #leaf></ng-template>
