@if (!(rootOrg$ | async)) {
  <div>Loading</div>
} @else {
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <a [routerLink]="'/orgs/' + (rootOrg$ | async)?.slug">
          {{ (rootOrg$ | async)?.name }}
        </a>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      @for (region of (rootOrg$ | async)?.children | orderBy: 'region'; track region) {
        <app-region-card
          [org]="region"
        ></app-region-card>
      }
    </mat-card-content>
  </mat-card>
}
