@use '@angular/material' as mat;

@include mat.core();

$my-primary: mat.define-palette(mat.$blue-palette, 500);
$my-accent: mat.define-palette(mat.$amber-palette, 500);

$my-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

@include mat.core-theme($my-theme);

@include mat.button-theme($my-theme);
@include mat.icon-theme($my-theme);
@include mat.icon-button-theme($my-theme);
@include mat.list-theme($my-theme);
@include mat.menu-theme($my-theme);
@include mat.sidenav-theme($my-theme);
@include mat.table-theme($my-theme);
@include mat.toolbar-theme($my-theme);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.noPrint {
  display: block;
}
@media print {
  .noPrint {
    display: none;
  }
}
