name: Test

on: push

jobs:
  test-web:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Node.js environment
        uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'

      - name: Update npm
        run: npm install -g npm@latest

      - name: Test
        working-directory: web
        run: |
          npm ci
          npm run build

  test-functions:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Node.js environment
        uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'

      - name: Update npm
        run: npm install -g npm@latest

      - name: Test
        working-directory: functions
        run: |
          npm ci
          npm run lint
          npm run build

  test-firestore:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Node.js environment
        uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'

      - name: Update npm
        run: npm install -g npm@latest

      - name: Test
        working-directory: firestore
        env:
          FIREBASE_CLI_EXPERIMENTS: webframeworks
        run: |
          npm ci
          npm run test
